.summer-specials-page {
  padding: 40px 20px;
  max-width: 70%;
  margin: 0 auto;
}

.summer-header {
  text-align: center;
  margin-bottom: 30px;
  color: var(--main);
}

.summer-header h1 {
  font-size: 2.5rem;
  color: var(--main);
  font-weight: 700;
}

.summer-header p {
  font-size: 1.2rem;
  color: var(--gray);
  margin-top: 10px;
  font-family: 'Pacifico', cursive;
}

.summer-cards-grid {
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
}

.see-more-btn {
  display: block;
  margin: 0 auto;
  background: var(--main);
  color: white;
  border: 1px solid var(--main);
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.see-more-btn:hover {
  background: white;
  color: var(--main);
  border: 1px solid var(--main);
}

/* Optional fade-in animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .summer-specials-page {
    max-width: 100%;
  }
  .summer-header h1 {
    font-size: 1.7rem;
  }
}
