.summer-page{
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .summer-title {
    font-size: 2rem;
    color: var(--main);
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
  }
  
  .summer-page-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  }
  @media (max-width: 768px) {
    .summer-page-grid {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      justify-items: center;
    }
  }
