
.profile-page {
  margin: 0 auto;
  padding: 40px 20px;

  font-family: 'Quicksand', sans-serif;
}

.profile-banner {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 20px;
 
}

.profile-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.profile-bottom {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.profile-header {
  flex: 1;
  background: var(--main);
  border-radius: 20px;
  padding: 30px;
  max-width: 350px;
  position: relative; 
  overflow: hidden;
  min-height: 600px;
}

.welcome-heading {
  font-size: 2rem;
  color: var(--dark);
  margin-bottom: 15px;
  font-weight: 700;
}

.welcome-message {
  color: var(--light);
  margin-bottom: 10px;
}

.welcome-email {
  color: var(--cream);
  background: var(--cream);
  padding: 6px 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 8px 0;
  font-size: 1rem;
}

.profile-summary p {
  font-size: 0.95rem;
  color: var(--dark);
  margin-bottom: 5px;
}

.profile-side-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%; /* adjust as needed */
  border-radius: 12px;
  z-index: 1;
}

.profile-tab {
  flex: 2;
  background: #fff;
  border-radius: 20px;
  padding: 30px 20px;

}

.tab-switcher {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
}

.tab-btn {
  background: var(--peach);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main);
  cursor: pointer;
  transition: 0.3s;
}

.tab-btn.active {
  background: var(--main);
  color: var(--cream);
  box-shadow: 0 6px 14px rgba(255, 128, 128, 0.3);

}

.profile-cart,
.profile-wishlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
 
}

.cart-item-wrapper {
  padding: 16px;
  border-radius: 16px;
 
}

/* Responsive */
@media (max-width: 768px) {
  .profile-bottom {
    flex-direction: column;
  }

  .tab-switcher {
    flex-direction: column;
  }

  .tab-btn {
    width: 100%;
  }
}
