.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  gap: 100px;
}

.form-section, .info-section {
  flex: 1;
  min-width: 300px;
  padding: 30px;
}

.form-section h2{
  color: var(--main);
  font-weight: 700;
}
.contact-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #797878;
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.submit-btn {
  background-color: var(--main);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid var(--main);
  font-weight: 700;
}

.submit-btn:hover {
  background-color: white;
  color: var(--main);
  border: 1px solid var(--main);
}

.info-section {
  margin-top: 30px;
  background: var(--light);
  border-left: 4px solid var(--main);
  padding: 20px;
  border-radius: 8px;
}

.info-section h3, .info-section h4 {
  margin-top: 20px;
  color: var(--main);
  font-weight: 700;
}

.info-section p {
  line-height: 1.6;
  color: var(--main);
}

.info-sectionlogo{
  width: 250px;

}


.rating-group {
  margin: 20px 0;
  text-align: left;
}

.hearts span {
  margin-right: 5px;
}

.hearts span:hover {
  transform: scale(1.2);
}

.rating-label {
  font-size: 14px;
  color: var(--main);
  font-weight: 500;
  margin-top: 5px;
}


