.real-flower-loader {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  
  .spin-flower {
    width: 100px;
    height: 100px;
    animation: spin 5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  