.product-detail-container {
  max-width: 90%;
  margin: 20px auto;
  padding: 40px 24px;
  box-sizing: border-box;
 
}
.product-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.product-image-wrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 600px;
  width: 100%;
}

.image-gallery-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.main-product-image {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.product-info {
  flex: 1;
  min-width: 320px;
  max-width: 600px;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}
.product-info::-webkit-scrollbar {
  width: 6px;
}
.product-info::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 10px;
}

.product-title {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--main);
  margin-bottom: 12px;
}

.product-price {
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--green);
  margin-bottom: 16px;
}
.product-subtitle {
  color: var(--dark);
}
.product-description {
  font-size: 1.1rem;
  color: var(--black);
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 10px;
}

.product-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.product-tags p {
  background-color: var(--light);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 1rem;
  color: white;
}

.product-contains-list {
  margin-top: 10px;
  padding-left: 20px;
}

.product-contains-list li {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}

.contains-item {
  font-size: 14px;
  color: #6e4b4b;
  line-height: 1.5;
}
.product-note-title {
  font-weight: 600;
  margin-top: 20px;
  font-size: 16px;
  color: var(--dark);
}

.product-note-text {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  background: #fff7ed;
  border-left: 4px solid var(--main);
  padding: 12px 16px;
  margin-top: 8px;
  border-radius: 8px;
}


.basket-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--main);
  color: white;
  border: 1px solid var(--main);
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.basket-button:hover {
  background-color: #fff;
  color: var(--main);
  border: 1px solid var(--main);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.related-product {
  display: grid;
  /* gap: 30px; */
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
}

/* Responsive */
@media (max-width: 768px) {
  .product-content {
    flex-direction: column;
    align-items: center;
  }

  .product-image-wrapper {
    width: 100%;
    align-items: center;
  }

  .image-gallery-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-product-image {
    width: 90vw;
    max-width: 500px;
  }

  .product-info {
    width: 100%;
  }

  .product-title {
    text-align: center;
  }

  .add-to-cart-btn {
    width: 100%;
  }
}
/* Responsive */
@media (max-width: 480px) {
  .product-content {
    flex-direction: column;
    align-items: center;
  }

  .product-image-wrapper {
    width: 100%;
    align-items: center;
  }

  .image-gallery-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-product-image {
    width: 70vw;
    max-width: 500px;
  }

  .product-info {
    width: 100%;
  }

  .product-title {
    text-align: center;
  }

  .add-to-cart-btn {
    width: 100%;
  }
}
