
:root {
  /* --main: #fa7290; */
  --main: #c27979;
  --dark: #e2aaaa;
  --green: rgb(117, 131, 99);
  --light: #f1bfbf;
  --yellow: rgb(231, 189, 111);
  --black: #4a4a4a;
  --gray: #999;
  --peach: #ffe5d9;
  --pink: #ffccd5;
  --choco: #7b3e19;
  --cream: #fff8f1;
  --accent: #ffb3c6;
  --text-dark: #4d2c1d;
  --text-light: #a1665e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 18px;
  color: var(--black);
}
a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 100%;
  margin: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
