.product-container {
  /* padding: 60px 20px; */
  margin: 0 auto;
  max-width: 90%;
}

.productgrid-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  padding: 30px;
  align-items: flex-start;
}

.productgrid-tabs {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.tab-heading {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--light);
  text-align: center;
}

.tab-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  width: 70%;
  height: 3px;
  background: linear-gradient(to right, var(--dark), var(--peach));
  border-radius: 10px;
}

.tab {
  padding: 14px 18px;
  border-radius: 20px;
  cursor: pointer;
  color: var(--gray);
  text-align: start;
  font-size: 1.4rem;
  font-family: "Pacifico", cursive;
}

.tab.active {
  color: var(--main);
}

.productgrid-right {
  width: 100%;
}

.productgrid-title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--main);
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
}

@media (max-width: 768px) {
  .productgrid-wrapper {
    grid-template-columns: 1fr;
  }

  .productgrid-tabs {
    flex-direction: column;
    justify-content: center;
  }

  .tab-heading {
    font-size: 1.5rem;
    color: var(--light);
    text-align: center;
  }
  .productgrid-title {
    font-size: 2rem;
    text-align: center;
    color: var(--main);
    margin-bottom: 30px;
  }
  .product-grid {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  }
}
