.collection-card {
  background: #fff;
  overflow: hidden;
  width: 350px;
  position: relative;

}
.collection-image {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.badge {
  position: absolute;
  top: 1%;
  left: 1%;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 3px;
  
}
.badge.new {
 background-color: var(--main); 
  color: var(--black);
 
}
.badge.trending {
  background-color: var(--dark); 
  color: var(--black);
}

.collection-info {
  padding: 5px;

}
.collection-name {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 -20px;
  color: var(--main);
}
.collection-des {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection-price {
  color: var(--green);
  margin: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}
.price-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: white;
  padding: 6px;
  border: 1px solid var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.heart {
  font-size: 18px;
}

@media (max-width:768px) {
  
  .collection-card {
    width: 330px;
  }
  .collection-image {
    width: 330px;
    height: 300px;
    object-fit: cover;
  }
}
